@media (min-width: 1024px) {
  .user-comment-section {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  #nav {
    margin-left: 16%;
  }

  #main {
    .product-info {
      .left-section {
        .user-comment-section {
          #txtarea {
            background: none;
            border: 0;
            height: 200px;
            margin-left: 10px;
            width: 410px;
          }

          button {
            background: url('../images/search-btn.png') no-repeat center !important;
            border-radius: 20px !important;
            bottom: 50px;
            color: #fff;
            height: 30px;
            left: 330px;
            position: relative;
          }

          .input {
            background: url('../images/comments-user.jpg');
            background-repeat: no-repeat;
            background-size: 420px 217px;
            height: 100%;
            margin-left: 55px;
          }
        }
      }
    }
  }

  .footer {
    .comments {
      width: 33% !important;
    }
  }

  .breadcrumb-and-search {
    input {
      width: 65% !important;
    }
  }

  .panel-group {
    width: 60%;
  }

  #site-slogan {
    display: block !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #main {
    .product-info {
      .left-section {
        .user-comment-section {
          button {
            bottom: 50px;
            left: 180px;
          }
        }
      }
    }
  }

  %padding-right-and-left {
    padding-left: 8%;
    padding-right: 8%;
  }

  .navbar-collapse {
    height: 220px;
    position: relative;
    top: 50px;
  }

  body {
    font-size: 1em;
  }

  .product-info,
  .breadcrumb {
    font-size: 1.1em;
  }

  #nav {
    margin-left: 8%;

    ul {
      float: left !important;
    }
  }

  #carousel {
    h3,
    p {
      width: 80% !important;
    }

    .btn {
      font-size: 1.1em;
      width: 175px;
    }
  }
}

@media (min-width: 390px) and (max-width: 479px) {
  #main {
    .product-info {
      .left-section {
        .user-comment-section {
          #txtarea {
            height: 140px;
            width: 260px;
          }

          button {
            bottom: 50px;
            left: 190px;
          }

          .input {
            background-size: 270px 150px;
            height: 100%;
          }
        }
      }
    }
  }

  %padding-right-and-left {
    padding-left: 4%;
    padding-right: 4%;
  }

  .navbar-collapse {
    height: 220px;
    position: relative;
    top: 50px;
  }

  .product-info,
  .breadcrumb {
    font-size: 1.1em;
  }

  .my-nav {
    font-size: 1.1em;
  }

  #nav {
    margin-left: 4%;
    .navbar-toggle {
      right: 0;
    }

    ul {
      float: left !important;
    }
  }

  .carousel-indicators {
    li,
    .active {
      height: 10px;
      margin: 0;
      width: 10px;
    }
  }

  #carousel {
    height: 250px !important;

    h3 {
      font-size: 1.3em !important;
      width: 80% !important;
    }

    p {
      display: none !important;
    }

    .btn {
      font-size: .9em !important;
      width: 100px !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 389px) {
  #main {
    .product-info {
      .left-section {
        .user-comment-section {
          #txtarea {
            height: 140px;
            width: 190px;
          }

          button {
            bottom: 50px;
            left: 120px;
          }

          .input {
            background-size: 200px 150px;
            height: 100%;
          }
        }
      }

      .right-section {
        .comments {
          background-size: 240px 200px;
          height: 45vh;

          p {
            width: 240px;
          }
        }
      }
    }
  }

  %padding-right-and-left {
    padding-left: 4%;
    padding-right: 4%;
  }

  body {
    font-size: .8em;
  }

  .product-info,
  .breadcrumb {
    font-size: 1.1em;
  }

  #logo {
    width: 120px;
  }

  .navbar-collapse {
    height: 175px;
    position: relative;
    top: 50px;

    .navbar-nav {
      a {
        padding-bottom: 2.5px;
        padding-top: 2.5px;
      }
    }
  }

  .my-nav {
    font-size: 1em;
  }

  #nav {
    margin-left: 4%;

    .navbar-toggle {
      right: 0 !important;
    }

    ul {
      float: left !important;
    }
  }

  .carousel-indicators {
    li,
    .active {
      height: 8px;
      margin: 0;
      width: 8px;
    }
  }

  #carousel {
    height: 250px !important;

    h3 {
      font-size: 1.2em !important;
      width: 100% !important;
    }

    img {
      width: 160px;
    }

    p {
      display: none;
    }

    .btn {
      font-size: 1em !important;
      width: 80px !important;
    }
  }
}

@media (max-width: 319px) {
  %padding-right-and-left {
    padding-left: 4%;
    padding-right: 4%;
  }

  body {
    font-size: 0.8em;
  }

  .product-info,
  .breadcrumb {
    font-size: 1em;
  }

  #logo {
    display: none;
  }

  .navbar-collapse {
    height: 175px;
    position: relative;
    top: 50px;

    .navbar-nav {
      a {
        padding-bottom: 2.5px;
        padding-top: 2.5px;
      }
    }
  }

  .my-nav {
    font-size: 1em;
  }

  #nav {
    margin-left: 4%;

    .navbar-toggle {
      background: url('../images/logo-small.png') no-repeat center !important;
      height: 30px;
      right: 20px;
      width: 50px;

      .icon-bar {
        display: none;
      }
    }

    ul {
      float: left !important;
    }
  }

  .carousel-indicators {
    li,
    .active {
      height: 8px;
      margin: 0;
      width: 8px;
    }
  }

  #carousel {
    height: 250px !important;

    h3 {
      font-size: 1.2em !important;
      width: 100% !important;
    }

    img {
      width: 160px !important;
    }

    p {
      display: none;
    }

    .btn {
      font-size: 1em !important;
      width: 80px !important;
    }
  }
}
