body, .my-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

#footer, #header {
  padding-top: .5em;
  padding-bottom: .5em; }

body {
  font-size: 14px;
  font-family: "Myriad Pro", sans-serif; }

#footer {
  margin-top: .5em;
  color: #fff;
  background: #999281; }
  #footer a {
    color: inherit;
    background: none; }
    #footer a:hover {
      text-decoration: underline; }
  #footer .my-nav li + li:before {
    content: "|";
    margin: 0 3px;
    display: inline-block;
    vertical-align: middle; }
  #footer .copy {
    margin: 0;
    text-align: right; }

#header {
  background: #452917;
  color: #ffffff; }
  #header #logo {
    margin: 0;
    font: inherit;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase; }
    #header #logo span {
      font-weight: normal; }
    #header #logo span:before {
      content: "";
      margin: 0 5px 0 0;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 100%;
      border: 3px solid #999281;
      position: relative;
      top: 1px; }
  #header .user-nav {
    text-align: right; }
  #header .my-nav {
    display: inline-block; }
    #header .my-nav li + li {
      margin-left: 10px; }
    #header .my-nav a {
      color: #996443; }
      #header .my-nav a:hover {
        text-decoration: none; }
    #header .my-nav li:hover {
      border-radius: 3px;
      background-color: rgba(153, 146, 129, 0.6); }
    #header .my-nav .badge {
      opacity: .8; }

#nav {
  color: white;
  background: #999281;
  border-radius: 0;
  border: 0;
  margin-bottom: 0; }
  #nav ul {
    background: #999281; }
  #nav a {
    color: inherit; }
    #nav a:hover {
      text-decoration: none; }
  #nav li:hover, #nav .navbar-brand:hover {
    border-radius: 3px;
    background-color: #8c8676; }
  #nav .form-group {
    position: relative; }
    #nav .form-group > .glyphicon {
      position: absolute;
      right: .5em;
      top: .75em; }
  #nav input[type="search"] {
    box-shadow: none;
    border: 0;
    color: white;
    background: #996443; }

#carousel {
  background: #452917;
  height: 300px; }
  #carousel:before {
    display: none; }
  #carousel > .slide {
    background-size: 100% 100%;
    height: 250px;
    float: none; }

.home-page #nav {
  background: rgba(153, 146, 129, 0.5);
  position: relative;
  z-index: 2; }
.home-page #nav + #carousel {
  margin-top: -50px;
  position: relative;
  z-index: 1; }

.my-nav > li {
  display: inline-block;
  vertical-align: middle; }

.promo-gallery {
  margin-top: 50px; }
  .promo-gallery .inner-elemets #games-section {
    height: 200px;
    text-align: center;
    position: relative;
    background: url("http://www.pulsar.bg/image/cache/data/Banners/Christmas-Sale-Season-website-small-banner-375x130.jpg") no-repeat;
    background-clip: content-box;
    background-size: contain;
    background-position: center center; }
  .promo-gallery .inner-elemets #movies-section {
    height: 200px;
    text-align: center;
    position: relative;
    background: url("../images/movies.jpg") no-repeat;
    background-clip: content-box;
    background-size: contain;
    background-position: center center; }
  .promo-gallery .inner-elemets #books-section {
    height: 200px;
    text-align: center;
    position: relative;
    background: url("../images/books.jpg") no-repeat;
    background-clip: content-box;
    background-size: contain;
    background-position: center center; }
  .promo-gallery .inner-elemets a {
    position: absolute;
    margin: auto;
    width: 50%;
    bottom: 1em; }

/*# sourceMappingURL=site.css.map */
