@import 'variables';
@import 'resets';
@import 'media-queries';
@import 'rating';
@import 'loader';

.user-nav {
  display:  none !important;
}

body {
  @extend %reset;
  font-family: $custom-font-family, sans-serif;
  font-size: $font-size-original;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

hr {
  background-image: linear-gradient(to right, $linear-gradient-first-color, $linear-gradient-second-color, $linear-gradient-third-color);
  border: 0;
  height: 1px;
  margin: 0;
}

#wrapper {
  width: 100% !important;
}

#gmaps-border {
  -moz-box-shadow: 1px 1px 1px #fff;
  -webkit-box-shadow: 1px 1px 1px #fff;
  background: #fff;
  border: 1px solid #e5e2c6;
  box-shadow: 1px 1px 1px #fff;
  height: 171px;
  margin-bottom: 12px;
  padding: 5px;
  width: 246px;
}

#gmaps-container-1 {
  height: 171px;
  width: 244px;
}

#maker {
  @extend %padding-right-and-left;
  color: $custom-gray-text;
  margin-top: .5em;

  .copy {
    font-style: italic;
    margin: 0;
    text-align: center;
  }
}

.footer-home {
  display: none;
}

.footer {
  @extend %padding-right-and-left;
  background: $footer-background-color !important;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;

  #footer-logo {
    color: $custom-gray-text;
    padding-left: 5px;

    img {
      height: 20px;
    }

    span {
      font-size: 1.4em;
    }

    p {
      color: $custom-gray-text;
      font-style: italic;
      margin-top: 10px;
      padding-left: 0;
      text-transform: capitalize;
    }
  }

  .comments {
    float: left;
    position: relative;
    text-align: left;
    width: 100%;

    p {
      color: $custom-gray-text;
      overflow: auto;
      padding-left: 5px;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .comments-title {
    color: $custom-gray-text !important;
    font-size: 1.05em;
    padding-left: 2px;
    text-align: left;
    text-transform: uppercase;
  }

  .btn-games {
    background: url('../images/btn-down.png') no-repeat center !important;
    border-radius: 20px;
    color: #fff;
    position: relative;
    top: -29px;
    width: 250px;
  }

  .footer-nav {
    color: $custom-gray-text;
    text-align: center;
    text-transform: uppercase;

    ul {
      display: inline-block;
      padding: 0;
    }

    li {
      display: inline-block;

      &:nth-of-type(2) {
        margin: 0 20px;
        vertical-align: middle;
      }
    }

    a {
      background: none;
      color: inherit;

      &:hover {
        color: $custom-gray-text;
        font-style: italic;
        text-decoration: none;
      }
    }
  }
}

#header {
  @extend %padding;
  @extend %padding-right-and-left;
  color: #fff;

  .pull-right {
    padding-right: 0;
  }

  .user-nav {
    text-align: right;
  }

  .my-nav {
    display: inline-block;

    li + li {
      margin-left: 10px;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }

    li {

      &:hover {
        background-color: rgba($navbar-background-color, .6);
        border-radius: 3px;
      }
    }

    .badge {
      opacity: .8;
    }
  }
}

#logo {
  margin: -5px 0 0;
}

#nav {
  background: $navbar-background-color;
  border: 0;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;

  .navbar-header {
    position: absolute;
    width: 100%;
  }

  .navbar-toggle {
    float: right;
    position: relative;
    right: 70px;
  }

  ul {
    background: $navbar-background-color;
    margin-left: 0;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  li,
  .navbar-brand {
    text-transform: uppercase;

    &:hover {
      color: $hovered-color-text;
      font-style: italic;
    }

    #active {
      background: url('../images/current-bg-50.png') repeat-x 0 3px;
      background-color: $navbar-background-color;
      color: $hovered-color-text;
      font-style: italic;
    }
  }

  .current {
    li::before,
    li::after {
      background-color: $navbar-background-color-hovered;
      content: '';
      display: block;
      height: 2.5px;
      width: 100%;
    }
  }

  .active {

    &:hover {
      background-color: $navbar-background-color;
      color: #fff;
      font-style: normal;
    }
  }

  p {
    &:hover {
      color: inherit;
      font-style: bold;
    }
  }

  .form-group {
    position: relative;

    > .glyphicon {
      position: absolute;
      right: .5em;
      top: .75em;
    }
  }

  .container-fluid {
    @extend %padding-right-and-left;
    padding-left: 20px;
  }
}

#btn-login,
#btn-reg,
#btn-buy-game,
#btn-delete-game,
#btn-buy-movie,
#btn-delete-movie {
  border-radius: 20px;
}

#btn-login,
#btn-reg {
  margin: 0 0 10px 20px;
}

#carousel {
  background: $site-color;
  height: 350px;
}

#site-slogan {
  @extend %padding-right-and-left;
  color: #fff;
  margin-top: 10px;

  h3,
  p {
    width: 70%;
  }

  h3 {
    font-size: $font-size-up;
    text-transform: uppercase;
  }

  p {
    font-size: 1em;
  }

  .btn-success {
    background: url('../images/home-button-background.png') no-repeat center !important;
    border: 0;
    border-radius: 20px;
    width: 250px;

    &:hover {
      border-bottom: 1px solid #0f0;
    }
  }
}

#myCarousel {
  background: $my-carousel-background-color;
  height: 125px;

  a {
    background: rgba(246, 246, 239, 0);
    color: #000;
  }

  h3 {
    @extend %padding-right-and-left;
    color: $slogan-text-color;
    font-size: $font-size-up;
    text-align: center;
  }
}

#main {
  background: url('../images/games-background-down.jpg') !important;
}

.my-nav {
  @extend %reset;

  > li {
    display: inline-block;
    vertical-align: middle;
  }
}

.games {
  background: url('../images/games-backgorund.jpg') no-repeat !important;
  height: 255px !important;
}

.games-info {
  background: url('../images/games-info-background.jpg') no-repeat !important;
  height: 255px !important;
}

.movies {
  background: url('../images/movies-background.jpg') no-repeat !important;
  height: 255px !important;
}

.movies-info {
  background: url('../images/movies-info-background.jpg') no-repeat !important;
  height: 255px !important;
}

.location {
  background: url('../images/location-background.jpg') no-repeat !important;
  height: 255px !important;
}

.product-info {
  @extend %padding-right-and-left;

  p {
    color: $custom-gray-text;
  }

  .left-section {
    padding: 0;

    .thumbnail {
      background: none;
      border: 0;
      padding: 5px 0;

      strong,
      b {
        color: $custom-gray-text;
      }

      img {
        border: 5px solid #fff;
        float: left;
        height: 280px;
        margin-right: 20px;
        position: relative;
        width: 250px;
      }

      .product-description {
        position: relative;

        button {
          border-radius: 20px;
        }

        ul {
          color: $custom-gray-text;
          list-style-type: none;
          padding: 0;

          li {
            padding-left: 10px;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .right-section {
    padding: 5px 0 0 10px;

    .comments {
      background: url('../images/comments.jpg');
      background-repeat: no-repeat;
      background-size: 260px 250px;
      height: 45vh;

      p {
        overflow: auto;
        padding-left: 5px;
        width: 250px;

        &::first-letter {
          padding-left: 5px;
          text-transform: capitalize;
        }
      }
    }
  }

  .comments-title {
    color: $title-color;
    font-size: 1.05em;
    padding-left: 2px;
    text-align: left;
    text-transform: uppercase;
  }

  .user-comment-section {

    img {
      border: 5px solid #fff;
      float: left;
      height: 64px;
      margin-left: 0;
      position: relative;
      width: 56px;
    }

    #txtarea {
      background: none;
      border: 0;
      height: 230px;
      margin-left: 10px;
      width: 250px;
    }

    button {
      background: url('../images/search-btn.png') no-repeat center !important;
      border-radius: 20px !important;
      bottom: 30px;
      color: #fff;
      display: block;
      height: 30px;
      left: 250px;
      position: relative;
    }

    .input {
      background: url('../images/comments-user2.jpg');
      background-repeat: no-repeat;
      background-size: 260px 250px;
      height: 100%;
      margin-left: 55px;
    }
  }
}

.promo-gallery {
  @extend %padding-right-and-left;
  background: $home-background url('../images/promo-gallery-background.jpg') no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;

  .inner-elemets {
    height: 280px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 2px;
    position: relative;
    text-align: center;

    .comments-section {
      .thumbnail {
        border: 0;

        .books {
          background: url('../images/comments.jpg');
          background-repeat: no-repeat;
          background-size: 260px 250px;
          height: 100vh;

          p {
            overflow: auto;
            width: 180px;
          }
        }
      }

      img {
        border: 5px solid #fff;
        float: left;
        height: 64px;
        margin-left: 0;
        position: relative;
        width: 56px;
      }
    }

    iframe {
      border: 5px solid #fff;
      float: left;
      position: relative;
      width: 90%;
    }

    .location-text {
      color: $custom-gray-text;
      float: left;
      font-family: $gallery-font-family;
      font-size: $gallery-font-size;
      margin-top: 10px;
      position: relative;

      p {
        text-align: left;

        span {
          text-transform: uppercase;
        }

        time {
          color: $custom-gray-text;
        }
      }
    }

    .inner-elemets-title {
      color: $title-color;
      font-size: 1.05em;
      padding-left: 2px;
      text-align: left;
      text-transform: uppercase;
    }

    .thumbnail {
      background-color: inherit;
      margin-bottom: 0;

      .game-info-aside {
        padding-left: 15px;
        padding-top: 5px;
        text-align: left;
        width: 100%;
      }
    }
  }

  .middle {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.location-section {
  @extend %padding-right-and-left;
  padding-bottom: 10px;
  padding-top: 10px;

  .left-section {
    padding: 0;

    .title {
      color: $custom-gray-text;
      font-family: $gallery-font-family;
      font-size: $gallery-font-size;
      text-transform: uppercase;
    }

    .description {
      color: $custom-gray-text;
      font-size: $gallery-font-size;
      text-transform: uppercase;
    }

    time,
    span {
      color: $custom-gray-text;
    }
  }

  .right-section {
    padding: 0;

    iframe {
      border: 5px solid #fff;
      float: left;
      height: 300px;
      position: relative;
      width: 100%;
    }
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.panel-group {
  margin: 10px auto 20px;
  width: 85%;

  .panel-collapse {
    border: 0;
    position: relative;
    text-align: center;

    span,
    input {
      border-radius: 0;
    }

    input {
      border-right: 0;
    }

    button {
      border-radius: 10px;
      position: relative;
    }
  }

  .panel-heading {
    border-radius: 10px;
    text-align: center;
  }
}

#btn-add-game,
#btn-add-movie {
  background-color: $btn-add-product;
  border: 0;
  color: #fff;
  font-weight: bold;
  margin: 5px auto;
  padding: 10px 0;
  text-align: center;
  width: 50%;
}

.checkbox-inline {
  input {
    vertical-align: middle;
  }
}

.genres {
  border-bottom: 1px solid #ccc;
}

.gallery {
  @extend %padding-right-and-left;
}

.gallery-inner-element {
  height: 70px;
  margin-bottom: 16px;
  padding: 0;

  .thumbnail {
    background-color: inherit;
    border: 0;
    height: 70px;
    padding: 0;

    img {
      border: 5px solid #fff;
      height: 64px;
      margin-left: 0;
      width: 56px;
    }

    a {
      float: left;
      height: 64px;
      margin-right: 15px;
      padding: 0;
      position: relative;
      width: 56px;
    }

    .game-info-aside {
      width: 90%;

      h5 {
        color: $custom-gray-text;
        font-size: 1em;
        margin: 0;
      }
    }

    .price-tag {
      background: url('../images/price-tag.png') no-repeat bottom left;
      display: block;
      font-size: .8em;
      left: -8px;
      padding-left: 8px;
      position: absolute;
      top: 12px;

      span {
        color: #fff;
        display: block;
        font-style: normal;
        height: 31px;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
      }
    }
  }
}

.platform {
  color: $custom-gray-text;
  font-family: $gallery-font-family;
  font-size: $gallery-font-size;
  font-style: italic;
}

.carousel-indicators {
  background: url('../images/promo-gallery-background.png') no-repeat center;
  bottom: 30px;
  height: 35px;
  left: 0;
  margin: auto;
  padding-top: 10px;
  position: relative;

  li {
    background-color: $carousel-indicators-background-color;
    border: 0;
  }

  .active {
    background-color: $carousel-indicators-color;
    border-color: $carousel-indicators-background-color;
  }
}

.carousel-inner {
  bottom: 30px;
}

#accordion {
  margin-top: 5px;
}

.breadcrumb-and-search {
  @extend %padding-right-and-left;
  background-color: $breadcrumb-and-search-background;

  .search {
    padding: 5px 0;

    input {
      border-radius: 20px !important;
      float: right;
      margin-right: 10px;
      width: 150px;
    }

    button {
      background: url('../images/search-btn.png') no-repeat center !important;
      border-radius: 20px !important;
      color: #fff;
    }
  }

  .breadcrumb {
    font-family: $custom-font-family, Sans-Serif;
    margin-bottom: 0;
    padding: 8px 0;

    li + li:before {
      content: '>>';
      font-size: .8em;
      vertical-align: text-top;
    }

    a {
      color: $custom-gray-text;
      text-decoration: none;
      text-transform: uppercase;
    }

    .active {
      color: $custom-gray-text;
      text-transform: uppercase;
    }
  }
}
