@import 'variables';
@import 'resets';
body {
  @extend %reset;
  font-size: $font-size-original;
  font-family: $custom-font-family, sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0.75), rgba(33, 33, 33, 0));
}
#footer {
  @extend %padding-right-and-left;
  margin-top: 0.5em;
  color: #fff;
  background: $navbar-background-color;
  .copy {
    margin: 0;
    text-align: center;
  }
}
.footer {
  text-align: center;
  .btn-games {
    color: white;
    width: 250px;
    position: relative;
    top: -20px;
    border-radius: 20px;
    background: url(../images/btn-down.png) no-repeat center !important;
  }
  .footer-nav {
    color: $thumbnail-title-color;
    text-align: center;
    text-transform: uppercase;
    ul {
      padding: 0;
      display: inline-block;
    }
    li {
      display: inline-block;
    }
    li:nth-of-type(2) {
      margin: 0 20px;
      vertical-align: middle;
    }
    a {
      color: inherit;
      background: none;
      &:hover {
        color: $platform-text-color;
        font-style: italic;
        text-decoration: none;
      }
    }
  }
}
#header {
  @extend %padding;
  @extend %padding-right-and-left;
  color: #ffffff;
  .pull-right {
    padding-right: 0;
  }
  .user-nav {
    text-align: right;
  }
  .my-nav {
    display: inline-block;
    li + li {
      margin-left: 10px;
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    li {
      &:hover {
        border-radius: 3px;
        background-color: rgba($navbar-background-color, .6);
      }
    }
    .badge {
      opacity: 0.8;
    }
  }
}
#logo {
  margin: -5px 0 0;
}
#nav {
  color: white;
  background: $navbar-background-color;
  margin-left: 16%;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  .navbar-header {
    position: absolute;
    width: 100%;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    right: 70px;
  }
  ul {
    background: $navbar-background-color;
    margin-left: 0;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  li,
  .navbar-brand {
    text-transform: uppercase;
    &:hover {
      color: $hovered-color-text;
      font-style: italic;
      background-color: $navbar-background-color;
      background: url(../images/current-bg-50.png) repeat-x 0 3px;
    }
  }
  .current {
    li::before,
    li::after {
      content: "";
      display: block;
      width: 100%;
      height: 2.5px;
      background-color: $navbar-background-color-hovered;
    }
  }
  .active:hover {
    font-style: normal;
    color: white;
    background-color: $navbar-background-color;
  }
  p {
    &:hover {
      font-style: bold;
      color: inherit;
    }
  }
  .form-group {
    position: relative;
    > .glyphicon {
      position: absolute;
      right: 0.5em;
      top: 0.75em;
    }
  }
  .container-fluid {
    @extend %padding-right-and-left;
    padding-left: 20px;
  }
}
#site-slogan {
  color: white;
  @extend %padding-right-and-left;
  h3,
  p {
    width: 60%;
  }
  h3 {
    font-size: $font-size-up;
    text-transform: uppercase;
  }
  p {
    font-size: 1.2em;
  }
  .btn-success {
    width: 250px;
    border-radius: 20px;
    background: url(../images/home-button-background.png) no-repeat center !important;
  }
}
#carousel {
  //background: $site-second-color-alpha, $site-first-color no-repeat;
  background: $site-color;
  height: 460px;
}
#myCarousel {
  height: 125px;
  background: rgb(246, 246, 239);
  a {
    color: black;
    background: rgba(246, 246, 239, 0);
  }
  h3 {
    @extend %padding-right-and-left;
    text-align: center;
    font-size: $font-size-up;
    color: $slogan-text-color;
  }
}
.my-nav {
  @extend %reset;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
}
.promo-gallery {
  @extend %padding-right-and-left;
  background: $home-background url(../images/promo-gallery-background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  .inner-elemets {
    padding: 0 2px;
    margin-bottom: 10px;
    height: 280px;
    text-align: center;
    position: relative;
    #books-section {
      .thumbnail {
        border: 0;
      }
      img {
        margin-left: 0;
        width: 56px;
        height: 64px;
        border: 5px solid white;
        position: relative;
        float: left;
      }
    }
    iframe {
      width: 90%;
      border: 5px solid white;
      position: relative;
      float: left;
    }
    .location-text {
      margin-top: 10px;
      font-family: $gallery-font-family;
      font-size: $gallery-font-size;
      color: $platform-text-color;
      position: relative;
      float: left;
      p {
        text-align: left;
        span {
          text-transform: uppercase;
        }
        time {
          color: $thumbnail-title-color;
        }
      }
    }
    .inner-elemets-title {
      text-align: left;
      font-size: 1.05em;
      padding-left: 2px;
      color: $inner-elemets-title-color;
      text-transform: uppercase;
    }
    .thumbnail {
      margin-bottom: 0;
      background-color: inherit;
      .game-info-aside {
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        width: 100%;
      }
    }
  }
  .middle {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.panel-group {
  width: 60%;
  margin: 10px auto 20px;
  .panel-collapse {
    position: relative;
    text-align: center;
    border: 0;
    span,
    input {
      border-radius: 0;
    }
    input {
      border-right: 0;
    }
    button {
      position: relative;
      border-radius: 10px;
    }
  }
  .panel-heading {
    text-align: center;
    border-radius: 10px;
  }
}
#btn-add-game {
  background-color: #6BBE92;
  border: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 50%;
  margin: 5px auto;
}
.checkbox-inline {
  input {
    vertical-align: middle;
  }
}
.genres {
  border-bottom: 1px solid #ccc;
}
.game-info {
  .thumbnail {
    background-color: inherit;
  }
  .description {
    height: 50px;
    overflow: hidden;
  }
  img {
    width: 130px;
    height: 150px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
.gallery {
  @extend %padding-right-and-left;
}
.gallery-inner-element {
  height: 70px;
  padding: 0;
  .thumbnail {
    padding: 0;
    height: 70px;
    border: 0;
    background-color: inherit;
    img {
      margin-left: 0;
      width: 56px;
      height: 64px;
      border: 5px solid white;
    }
    a {
      padding: 0;
      margin-right: 15px;
      width: 56px;
      height: 64px;
      position: relative;
      float: left;
    }
    .game-info-aside {
      width: 90%;
      h5 {
        margin: 0;
        font-size: 12px;
        color: $thumbnail-title-color;
      }
    }
    .price-tag {
      display: block;
      background: url(../images/price-tag.png) no-repeat bottom left;
      padding-left: 8px;
      position: absolute;
      top: 12px;
      left: -8px;
      font-size: 10px;
      span {
        display: block;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        height: 31px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        font-style: normal;
      }
    }
  }
}
.platform {
  font-family: $gallery-font-family;
  font-size: $gallery-font-size;
  color: $platform-text-color;
  font-style: italic;
}
.carousel-indicators {
  background: url(../images/promo-gallery-background.png) no-repeat center;
  //height: 30%;
  height: 35px;
  position: relative;
  bottom: 30px;
  padding-top: 10px;
  left: 0;
  margin: auto;
  li {
    background-color: $carousel-indicators-background-color;
    border: 0;
  }
  .active {
    background-color: $carousel-indicators-color;
    border-color: $carousel-indicators-background-color;
  }
}
.carousel-inner {
  bottom: 30px;
}
.rating {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 1.3em;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
@media (min-width: 480px) and (max-width: 767px) {
  %padding-right-and-left {
    padding-right: 8%;
    padding-left: 8%;
  }
  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 250px;
  }
  body {
    font-size: 10px;
  }
  #nav {
    margin-left: 8%;
    ul {
      float: left !important;
    }
  }
  #carousel {
    height: 350px;
    .btn {
      font-size: 12px;
      width: 175px;
    }
  }
}
@media (min-width: 390px) and (max-width: 479px) {
  %padding-right-and-left {
    padding-right: 4%;
    padding-left: 4%;
  }
  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 225px;
  }
  body {
    font-size: 8px;
  }
  .my-nav {
    font-size: 10px;
  }
  #nav {
    margin-left: 4%;
    .navbar-toggle {
      right: 0;
    }
    ul {
      float: left !important;
    }
  }
  .carousel-indicators {
    li,
    .active {
      margin: 0;
      width: 10px;
      height: 10px;
    }
  }
  #carousel {
    height: 280px;
    .btn {
      font-size: 10px;
      width: 100px;
    }
  }
}
@media (min-width: 320px) and (max-width: 389px) {
  %padding-right-and-left {
    padding-right: 4%;
    padding-left: 4%;
  }
  body {
    font-size: 8px;
  }
  #logo {
    width: 120px;
  }
  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 175px;
    .navbar-nav {
      a {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }
    }
  }
  .my-nav {
    font-size: 10px;
  }
  #nav {
    margin-left: 4%;
    .navbar-toggle {
      right: 0;
    }
    ul {
      float: left !important;
    }
  }
  .carousel-indicators {
    li,
    .active {
      margin: 0;
      width: 8px;
      height: 8px;
    }
  }
  #carousel {
    height: 250px;
    img {
      width: 160px;
    }
    p {
      display: none;
    }
    .btn {
      font-size: 10px;
      width: 80px;
    }
  }
}
@media (max-width: 319px) {
  %padding-right-and-left {
    padding-right: 4%;
    padding-left: 4%;
  }
  body {
    font-size: 8px;
  }
  #logo {
    display: none;
  }
  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 175px;
    .navbar-nav {
      a {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }
    }
  }
  .my-nav {
    font-size: 10px;
  }
  #nav {
    margin-left: 4%;
    .navbar-toggle {
      right: 0;
      background: url(../images/logo-small.png) no-repeat center !important;
      width: 50px;
      height: 30px;
      right: 20px;
      .icon-bar {
        display: none;
      }
    }
    ul {
      float: left !important;
    }
  }
  .carousel-indicators {
    li,
    .active {
      margin: 0;
      width: 8px;
      height: 8px;
    }
  }
  #carousel {
    height: 250px;
    img {
      width: 160px;
    }
    p {
      display: none;
    }
    .btn {
      font-size: 10px;
      width: 80px;
    }
  }
}
