body, .my-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

#header {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

#maker, .footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .product-info, .promo-gallery, .location-section, .gallery, .breadcrumb-and-search {
  padding-right: 16%;
  padding-left: 16%; }

@media (min-width: 1024px) {
  .user-comment-section {
    margin-bottom: 30px; } }
@media (min-width: 768px) {
  #nav {
    margin-left: 16%; }

  #main .product-info .left-section .user-comment-section #txtarea {
    background: none;
    border: 0;
    height: 200px;
    margin-left: 10px;
    width: 410px; }
  #main .product-info .left-section .user-comment-section button {
    background: url("../images/search-btn.png") no-repeat center !important;
    border-radius: 20px !important;
    bottom: 50px;
    color: #fff;
    height: 30px;
    left: 330px;
    position: relative; }
  #main .product-info .left-section .user-comment-section .input {
    background: url("../images/comments-user.jpg");
    background-repeat: no-repeat;
    background-size: 420px 217px;
    height: 100%;
    margin-left: 55px; }

  .footer .comments {
    width: 33% !important; }

  .breadcrumb-and-search input {
    width: 65% !important; }

  .panel-group {
    width: 60%; }

  #site-slogan {
    display: block !important; } }
@media (min-width: 480px) and (max-width: 767px) {
  #main .product-info .left-section .user-comment-section button {
    bottom: 50px;
    left: 180px; }

  #maker, .footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .product-info, .promo-gallery, .location-section, .gallery, .breadcrumb-and-search {
    padding-left: 8%;
    padding-right: 8%; }

  .navbar-collapse {
    height: 220px;
    position: relative;
    top: 50px; }

  body {
    font-size: 1em; }

  .product-info,
  .breadcrumb {
    font-size: 1.1em; }

  #nav {
    margin-left: 8%; }
    #nav ul {
      float: left !important; }

  #carousel h3,
  #carousel p {
    width: 80% !important; }
  #carousel .btn {
    font-size: 1.1em;
    width: 175px; } }
@media (min-width: 390px) and (max-width: 479px) {
  #main .product-info .left-section .user-comment-section #txtarea {
    height: 140px;
    width: 260px; }
  #main .product-info .left-section .user-comment-section button {
    bottom: 50px;
    left: 190px; }
  #main .product-info .left-section .user-comment-section .input {
    background-size: 270px 150px;
    height: 100%; }

  #maker, .footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .product-info, .promo-gallery, .location-section, .gallery, .breadcrumb-and-search {
    padding-left: 4%;
    padding-right: 4%; }

  .navbar-collapse {
    height: 220px;
    position: relative;
    top: 50px; }

  .product-info,
  .breadcrumb {
    font-size: 1.1em; }

  .my-nav {
    font-size: 1.1em; }

  #nav {
    margin-left: 4%; }
    #nav .navbar-toggle {
      right: 0; }
    #nav ul {
      float: left !important; }

  .carousel-indicators li,
  .carousel-indicators .active {
    height: 10px;
    margin: 0;
    width: 10px; }

  #carousel {
    height: 250px !important; }
    #carousel h3 {
      font-size: 1.3em !important;
      width: 80% !important; }
    #carousel p {
      display: none !important; }
    #carousel .btn {
      font-size: .9em !important;
      width: 100px !important; } }
@media (min-width: 320px) and (max-width: 389px) {
  #main .product-info .left-section .user-comment-section #txtarea {
    height: 140px;
    width: 190px; }
  #main .product-info .left-section .user-comment-section button {
    bottom: 50px;
    left: 120px; }
  #main .product-info .left-section .user-comment-section .input {
    background-size: 200px 150px;
    height: 100%; }
  #main .product-info .right-section .comments {
    background-size: 240px 200px;
    height: 45vh; }
    #main .product-info .right-section .comments p {
      width: 240px; }

  #maker, .footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .product-info, .promo-gallery, .location-section, .gallery, .breadcrumb-and-search {
    padding-left: 4%;
    padding-right: 4%; }

  body {
    font-size: .8em; }

  .product-info,
  .breadcrumb {
    font-size: 1.1em; }

  #logo {
    width: 120px; }

  .navbar-collapse {
    height: 175px;
    position: relative;
    top: 50px; }
    .navbar-collapse .navbar-nav a {
      padding-bottom: 2.5px;
      padding-top: 2.5px; }

  .my-nav {
    font-size: 1em; }

  #nav {
    margin-left: 4%; }
    #nav .navbar-toggle {
      right: 0 !important; }
    #nav ul {
      float: left !important; }

  .carousel-indicators li,
  .carousel-indicators .active {
    height: 8px;
    margin: 0;
    width: 8px; }

  #carousel {
    height: 250px !important; }
    #carousel h3 {
      font-size: 1.2em !important;
      width: 100% !important; }
    #carousel img {
      width: 160px; }
    #carousel p {
      display: none; }
    #carousel .btn {
      font-size: 1em !important;
      width: 80px !important; } }
@media (max-width: 319px) {
  #maker, .footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .product-info, .promo-gallery, .location-section, .gallery, .breadcrumb-and-search {
    padding-left: 4%;
    padding-right: 4%; }

  body {
    font-size: 0.8em; }

  .product-info,
  .breadcrumb {
    font-size: 1em; }

  #logo {
    display: none; }

  .navbar-collapse {
    height: 175px;
    position: relative;
    top: 50px; }
    .navbar-collapse .navbar-nav a {
      padding-bottom: 2.5px;
      padding-top: 2.5px; }

  .my-nav {
    font-size: 1em; }

  #nav {
    margin-left: 4%; }
    #nav .navbar-toggle {
      background: url("../images/logo-small.png") no-repeat center !important;
      height: 30px;
      right: 20px;
      width: 50px; }
      #nav .navbar-toggle .icon-bar {
        display: none; }
    #nav ul {
      float: left !important; }

  .carousel-indicators li,
  .carousel-indicators .active {
    height: 8px;
    margin: 0;
    width: 8px; }

  #carousel {
    height: 250px !important; }
    #carousel h3 {
      font-size: 1.2em !important;
      width: 100% !important; }
    #carousel img {
      width: 160px !important; }
    #carousel p {
      display: none; }
    #carousel .btn {
      font-size: 1em !important;
      width: 80px !important; } }
.rating {
  bottom: 20px;
  direction: rtl;
  font-size: 1.3em;
  position: relative;
  text-align: center;
  unicode-bidi: bidi-override; }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: '\2605';
  position: absolute; }

#loading {
  background: url("../images/loading.gif") no-repeat;
  display: block;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%; }

.loader-top {
  font-family: Helvetica;
  height: 100vh;
  width: 100vw; }

.loader {
  bottom: 0;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px; }

.loader--dot {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: loader;
  animation-timing-function: ease-in-out;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  height: 20px;
  position: absolute;
  width: 20px; }

.loader--dot:first-child {
  animation-delay: .5s;
  background-color: #8cc759; }

.loader--dot:nth-child(2) {
  animation-delay: .4s;
  background-color: #8c6daf; }

.loader--dot:nth-child(3) {
  animation-delay: .3s;
  background-color: #ef5d74; }

.loader--dot:nth-child(4) {
  animation-delay: .2s;
  background-color: #f9a74b; }

.loader--dot:nth-child(5) {
  animation-delay: .1s;
  background-color: #60beeb; }

.loader--dot:nth-child(6) {
  animation-delay: 0s;
  background-color: #fbef5a; }

@keyframes loader {
  15% {
    transform: translateX(0); }
  45% {
    transform: translateX(230px); }
  65% {
    transform: translateX(230px); }
  95% {
    transform: translateX(0); } }
.user-nav {
  display: none !important; }

body {
  font-family: "Myriad Pro", sans-serif;
  font-size: 14px; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

hr {
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0.75), rgba(33, 33, 33, 0));
  border: 0;
  height: 1px;
  margin: 0; }

#wrapper {
  width: 100% !important; }

#gmaps-border {
  -moz-box-shadow: 1px 1px 1px #fff;
  -webkit-box-shadow: 1px 1px 1px #fff;
  background: #fff;
  border: 1px solid #e5e2c6;
  box-shadow: 1px 1px 1px #fff;
  height: 171px;
  margin-bottom: 12px;
  padding: 5px;
  width: 246px; }

#gmaps-container-1 {
  height: 171px;
  width: 244px; }

#maker {
  color: #92907c;
  margin-top: .5em; }
  #maker .copy {
    font-style: italic;
    margin: 0;
    text-align: center; }
    #maker .copy strong {
      color: #442917; }

.footer-home {
  display: none; }

.footer {
  background: #fbfbf8 !important;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center; }
  .footer #footer-logo {
    color: #442917;
    padding-left: 5px; }
    .footer #footer-logo img {
      height: 20px; }
    .footer #footer-logo span {
      font-size: 1.4em; }
    .footer #footer-logo p {
      color: #92907c;
      font-style: italic;
      margin-top: 10px;
      padding-left: 0;
      text-transform: capitalize; }
  .footer .comments {
    float: left;
    position: relative;
    text-align: left;
    width: 100%; }
    .footer .comments p {
      color: #442917;
      overflow: auto;
      padding-left: 5px; }
      .footer .comments p::first-letter {
        text-transform: capitalize; }
  .footer .comments-title {
    color: #92907c !important;
    font-size: 1.05em;
    padding-left: 2px;
    text-align: left;
    text-transform: uppercase; }
    .footer .comments-title span {
      color: #442917;
      font-size: .8em;
      text-transform: none; }
  .footer .btn-games {
    background: url("../images/btn-down.png") no-repeat center !important;
    border-radius: 20px;
    color: #fff;
    position: relative;
    top: -29px;
    width: 250px; }
  .footer .footer-nav {
    color: #442917;
    text-align: center;
    text-transform: uppercase; }
    .footer .footer-nav ul {
      display: inline-block;
      padding: 0; }
    .footer .footer-nav li {
      display: inline-block; }
      .footer .footer-nav li:nth-of-type(2) {
        margin: 0 20px;
        vertical-align: middle; }
    .footer .footer-nav a {
      background: none;
      color: inherit; }
      .footer .footer-nav a:hover {
        color: #92907c;
        font-style: italic;
        text-decoration: none; }

#header {
  color: #fff; }
  #header .pull-right {
    padding-right: 0; }
  #header .user-nav {
    text-align: right; }
  #header .my-nav {
    display: inline-block; }
    #header .my-nav li + li {
      margin-left: 10px; }
    #header .my-nav a {
      color: #fff; }
      #header .my-nav a:hover {
        text-decoration: none; }
    #header .my-nav li:hover {
      background-color: rgba(153, 146, 129, 0.6);
      border-radius: 3px; }
    #header .my-nav .badge {
      opacity: .8; }

#logo {
  margin: -5px 0 0; }

#nav {
  background: #999281;
  border: 0;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0; }
  #nav .navbar-header {
    position: absolute;
    width: 100%; }
  #nav .navbar-toggle {
    float: right;
    position: relative;
    right: 70px; }
  #nav ul {
    background: #999281;
    margin-left: 0; }
  #nav a {
    color: inherit; }
    #nav a:hover {
      text-decoration: none; }
  #nav li,
  #nav .navbar-brand {
    text-transform: uppercase; }
    #nav li:hover,
    #nav .navbar-brand:hover {
      color: #eeeeba;
      font-style: italic; }
    #nav li #active,
    #nav .navbar-brand #active {
      background: url("../images/current-bg-50.png") repeat-x 0 3px;
      background-color: #999281;
      color: #eeeeba;
      font-style: italic; }
  #nav .current li::before,
  #nav .current li::after {
    background-color: #8c8676;
    content: '';
    display: block;
    height: 2.5px;
    width: 100%; }
  #nav .active:hover {
    background-color: #999281;
    color: #fff;
    font-style: normal; }
  #nav p:hover {
    color: inherit;
    font-style: bold; }
  #nav .form-group {
    position: relative; }
    #nav .form-group > .glyphicon {
      position: absolute;
      right: .5em;
      top: .75em; }
  #nav .container-fluid {
    padding-left: 20px; }

#btn-login,
#btn-reg,
#btn-buy-game,
#btn-delete-game,
#btn-buy-movie,
#btn-delete-movie {
  border-radius: 20px; }

#btn-login,
#btn-reg {
  margin: 0 0 10px 20px; }

#carousel {
  background: #452917;
  height: 350px; }

#site-slogan {
  color: #fff;
  margin-top: 10px; }
  #site-slogan h3,
  #site-slogan p {
    width: 70%; }
  #site-slogan h3 {
    font-size: 1.7em;
    text-transform: uppercase; }
  #site-slogan p {
    font-size: 1em; }
  #site-slogan .btn-success {
    background: url("../images/home-button-background.png") no-repeat center !important;
    border: 0;
    border-radius: 20px;
    width: 250px; }
    #site-slogan .btn-success:hover {
      border-bottom: 1px solid #0f0; }

#myCarousel {
  background: #f6f6ef;
  height: 125px; }
  #myCarousel a {
    background: rgba(246, 246, 239, 0);
    color: #000; }
  #myCarousel h3 {
    color: #654e2d;
    font-size: 1.7em;
    text-align: center; }

#main {
  background: url("../images/games-background-down.jpg") !important; }

.my-nav > li {
  display: inline-block;
  vertical-align: middle; }

.games {
  background: url("../images/games-backgorund.jpg") no-repeat !important;
  height: 255px !important; }

.games-info {
  background: url("../images/games-info-background.jpg") no-repeat !important;
  height: 255px !important; }

.movies {
  background: url("../images/movies-background.jpg") no-repeat !important;
  height: 255px !important; }

.movies-info {
  background: url("../images/movies-info-background.jpg") no-repeat !important;
  height: 255px !important; }

.location {
  background: url("../images/location-background.jpg") no-repeat !important;
  height: 255px !important; }

.product-info p {
  color: #92907c; }
.product-info .left-section {
  padding: 0; }
  .product-info .left-section .thumbnail {
    background: none;
    border: 0;
    padding: 5px 0; }
    .product-info .left-section .thumbnail strong,
    .product-info .left-section .thumbnail b {
      color: #442917; }
    .product-info .left-section .thumbnail img {
      border: 5px solid #fff;
      float: left;
      height: 280px;
      margin-right: 20px;
      position: relative;
      width: 250px; }
    .product-info .left-section .thumbnail .product-description {
      position: relative; }
      .product-info .left-section .thumbnail .product-description button {
        border-radius: 20px; }
      .product-info .left-section .thumbnail .product-description ul {
        color: #442917;
        list-style-type: none;
        padding: 0; }
        .product-info .left-section .thumbnail .product-description ul li {
          padding-left: 10px;
          text-transform: capitalize; }
.product-info .right-section {
  padding: 5px 0 0 10px; }
  .product-info .right-section .comments {
    background: url("../images/comments.jpg");
    background-repeat: no-repeat;
    background-size: 260px 250px;
    height: 45vh; }
    .product-info .right-section .comments p {
      overflow: auto;
      padding-left: 5px;
      width: 250px; }
      .product-info .right-section .comments p::first-letter {
        padding-left: 5px;
        text-transform: capitalize; }
.product-info .comments-title {
  color: #d2ceaf;
  font-size: 1.05em;
  padding-left: 2px;
  text-align: left;
  text-transform: uppercase; }
.product-info .user-comment-section img {
  border: 5px solid #fff;
  float: left;
  height: 64px;
  margin-left: 0;
  position: relative;
  width: 56px; }
.product-info .user-comment-section #txtarea {
  background: none;
  border: 0;
  height: 230px;
  margin-left: 10px;
  width: 250px; }
.product-info .user-comment-section button {
  background: url("../images/search-btn.png") no-repeat center !important;
  border-radius: 20px !important;
  bottom: 30px;
  color: #fff;
  display: block;
  height: 30px;
  left: 250px;
  position: relative; }
.product-info .user-comment-section .input {
  background: url("../images/comments-user2.jpg");
  background-repeat: no-repeat;
  background-size: 260px 250px;
  height: 100%;
  margin-left: 55px; }

.promo-gallery {
  background: #eae8cf url("../images/promo-gallery-background.jpg") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px; }
  .promo-gallery .inner-elemets {
    height: 280px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 2px;
    position: relative;
    text-align: center; }
    .promo-gallery .inner-elemets .comments-section .thumbnail {
      border: 0; }
      .promo-gallery .inner-elemets .comments-section .thumbnail .books {
        background: url("../images/comments.jpg");
        background-repeat: no-repeat;
        background-size: 260px 250px;
        height: 100vh; }
        .promo-gallery .inner-elemets .comments-section .thumbnail .books p {
          overflow: auto;
          width: 180px; }
    .promo-gallery .inner-elemets .comments-section img {
      border: 5px solid #fff;
      float: left;
      height: 64px;
      margin-left: 0;
      position: relative;
      width: 56px; }
    .promo-gallery .inner-elemets iframe {
      border: 5px solid #fff;
      float: left;
      position: relative;
      width: 90%; }
    .promo-gallery .inner-elemets .location-text {
      color: #92907c;
      float: left;
      font-family: "Georgia";
      font-size: 12px;
      margin-top: 10px;
      position: relative; }
      .promo-gallery .inner-elemets .location-text p {
        text-align: left; }
        .promo-gallery .inner-elemets .location-text p span {
          text-transform: uppercase; }
        .promo-gallery .inner-elemets .location-text p time {
          color: #442917; }
    .promo-gallery .inner-elemets .inner-elemets-title {
      color: #d2ceaf;
      font-size: 1.05em;
      padding-left: 2px;
      text-align: left;
      text-transform: uppercase; }
    .promo-gallery .inner-elemets .thumbnail {
      background-color: inherit;
      margin-bottom: 0; }
      .promo-gallery .inner-elemets .thumbnail .game-info-aside {
        padding-left: 15px;
        padding-top: 5px;
        text-align: left;
        width: 100%; }
  .promo-gallery .middle {
    margin-bottom: 15px;
    margin-top: 15px; }

.location-section {
  padding-bottom: 10px;
  padding-top: 10px; }
  .location-section .left-section {
    padding: 0; }
    .location-section .left-section .title {
      color: #92907c;
      font-family: "Georgia";
      font-size: 12px;
      text-transform: uppercase; }
    .location-section .left-section .description {
      color: #442917;
      font-size: 12px;
      text-transform: uppercase; }
    .location-section .left-section time,
    .location-section .left-section span {
      color: #92907c; }
      .location-section .left-section time:hover,
      .location-section .left-section span:hover {
        font-weight: bold;
        text-decoration: underline; }
  .location-section .right-section {
    padding: 0; }
    .location-section .right-section iframe {
      border: 5px solid #fff;
      float: left;
      height: 300px;
      position: relative;
      width: 100%; }

.row {
  margin-left: 0;
  margin-right: 0; }

.panel-group {
  margin: 10px auto 20px;
  width: 85%; }
  .panel-group .panel-collapse {
    border: 0;
    position: relative;
    text-align: center; }
    .panel-group .panel-collapse span,
    .panel-group .panel-collapse input {
      border-radius: 0; }
    .panel-group .panel-collapse input {
      border-right: 0; }
    .panel-group .panel-collapse button {
      border-radius: 10px;
      position: relative; }
  .panel-group .panel-heading {
    border-radius: 10px;
    text-align: center; }

#btn-add-game,
#btn-add-movie {
  background-color: #6bbe92;
  border: 0;
  color: #fff;
  font-weight: bold;
  margin: 5px auto;
  padding: 10px 0;
  text-align: center;
  width: 50%; }

.checkbox-inline input {
  vertical-align: middle; }

.genres {
  border-bottom: 1px solid #ccc; }

.gallery-inner-element {
  height: 70px;
  margin-bottom: 16px;
  padding: 0; }
  .gallery-inner-element .thumbnail {
    background-color: inherit;
    border: 0;
    height: 70px;
    padding: 0; }
    .gallery-inner-element .thumbnail img {
      border: 5px solid #fff;
      height: 64px;
      margin-left: 0;
      width: 56px; }
    .gallery-inner-element .thumbnail a {
      float: left;
      height: 64px;
      margin-right: 15px;
      padding: 0;
      position: relative;
      width: 56px; }
    .gallery-inner-element .thumbnail .game-info-aside {
      width: 90%; }
      .gallery-inner-element .thumbnail .game-info-aside h5 {
        color: #442917;
        font-size: 1em;
        margin: 0; }
    .gallery-inner-element .thumbnail .price-tag {
      background: url("../images/price-tag.png") no-repeat bottom left;
      display: block;
      font-size: .8em;
      left: -8px;
      padding-left: 8px;
      position: absolute;
      top: 12px; }
      .gallery-inner-element .thumbnail .price-tag span {
        color: #fff;
        display: block;
        font-style: normal;
        height: 31px;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.platform {
  color: #92907c;
  font-family: "Georgia";
  font-size: 12px;
  font-style: italic; }

.carousel-indicators {
  background: url("../images/promo-gallery-background.png") no-repeat center;
  bottom: 30px;
  height: 35px;
  left: 0;
  margin: auto;
  padding-top: 10px;
  position: relative; }
  .carousel-indicators li {
    background-color: #c1bfa6;
    border: 0; }
  .carousel-indicators .active {
    background-color: #675944;
    border-color: #c1bfa6; }

.carousel-inner {
  bottom: 30px; }

#accordion {
  margin-top: 5px; }

.breadcrumb-and-search {
  background-color: #f8f7f2; }
  .breadcrumb-and-search .search {
    padding: 5px 0; }
    .breadcrumb-and-search .search input {
      border-radius: 20px !important;
      float: right;
      margin-right: 10px;
      width: 150px; }
    .breadcrumb-and-search .search button {
      background: url("../images/search-btn.png") no-repeat center !important;
      border-radius: 20px !important;
      color: #fff; }
  .breadcrumb-and-search .breadcrumb {
    font-family: "Myriad Pro", Sans-Serif;
    margin-bottom: 0;
    padding: 8px 0; }
    .breadcrumb-and-search .breadcrumb li + li:before {
      content: '>>';
      font-size: .8em;
      vertical-align: text-top; }
    .breadcrumb-and-search .breadcrumb a {
      color: #92907c;
      text-decoration: none;
      text-transform: uppercase; }
    .breadcrumb-and-search .breadcrumb .active {
      color: #92907c;
      text-transform: uppercase; }

/*# sourceMappingURL=site.css.map */
