body, .my-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

#header {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

#footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .promo-gallery, .gallery {
  padding-right: 16%;
  padding-left: 16%; }

body {
  font-size: 14px;
  font-family: "Myriad Pro", sans-serif; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(33, 33, 33, 0), rgba(33, 33, 33, 0.75), rgba(33, 33, 33, 0)); }

#footer {
  margin-top: 0.5em;
  color: #fff;
  background: #999281; }
  #footer .copy {
    margin: 0;
    text-align: center; }

.footer {
  text-align: center; }
  .footer .btn-games {
    color: white;
    width: 250px;
    position: relative;
    top: -20px;
    border-radius: 20px;
    background: url(../images/btn-down.png) no-repeat center !important; }
  .footer .footer-nav {
    color: #442917;
    text-align: center;
    text-transform: uppercase; }
    .footer .footer-nav ul {
      padding: 0;
      display: inline-block; }
    .footer .footer-nav li {
      display: inline-block; }
    .footer .footer-nav li:nth-of-type(2) {
      margin: 0 20px;
      vertical-align: middle; }
    .footer .footer-nav a {
      color: inherit;
      background: none; }
      .footer .footer-nav a:hover {
        color: #92907c;
        font-style: italic;
        text-decoration: none; }

#header {
  color: #ffffff; }
  #header .pull-right {
    padding-right: 0; }
  #header .user-nav {
    text-align: right; }
  #header .my-nav {
    display: inline-block; }
    #header .my-nav li + li {
      margin-left: 10px; }
    #header .my-nav a {
      color: white; }
      #header .my-nav a:hover {
        text-decoration: none; }
    #header .my-nav li:hover {
      border-radius: 3px;
      background-color: rgba(153, 146, 129, 0.6); }
    #header .my-nav .badge {
      opacity: 0.8; }

#logo {
  margin: -5px 0 0; }

#nav {
  color: white;
  background: #999281;
  margin-left: 16%;
  border-radius: 0;
  border: 0;
  margin-bottom: 0; }
  #nav .navbar-header {
    position: absolute;
    width: 100%; }
  #nav .navbar-toggle {
    position: relative;
    float: right;
    right: 70px; }
  #nav ul {
    background: #999281;
    margin-left: 0; }
  #nav a {
    color: inherit; }
    #nav a:hover {
      text-decoration: none; }
  #nav li,
  #nav .navbar-brand {
    text-transform: uppercase; }
    #nav li:hover,
    #nav .navbar-brand:hover {
      color: #eeeeba;
      font-style: italic;
      background-color: #999281;
      background: url(../images/current-bg-50.png) repeat-x 0 3px; }
  #nav .current li::before,
  #nav .current li::after {
    content: "";
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: #8c8676; }
  #nav .active:hover {
    font-style: normal;
    color: white;
    background-color: #999281; }
  #nav p:hover {
    font-style: bold;
    color: inherit; }
  #nav .form-group {
    position: relative; }
    #nav .form-group > .glyphicon {
      position: absolute;
      right: 0.5em;
      top: 0.75em; }
  #nav .container-fluid {
    padding-left: 20px; }

#site-slogan {
  color: white; }
  #site-slogan h3,
  #site-slogan p {
    width: 60%; }
  #site-slogan h3 {
    font-size: 1.7em;
    text-transform: uppercase; }
  #site-slogan p {
    font-size: 1.2em; }
  #site-slogan .btn-success {
    width: 250px;
    border-radius: 20px;
    background: url(../images/home-button-background.png) no-repeat center !important; }

#carousel {
  background: #452917;
  height: 460px; }

#myCarousel {
  height: 125px;
  background: #f6f6ef; }
  #myCarousel a {
    color: black;
    background: rgba(246, 246, 239, 0); }
  #myCarousel h3 {
    text-align: center;
    font-size: 1.7em;
    color: #654e2d; }

.my-nav > li {
  display: inline-block;
  vertical-align: middle; }

.games {
  background: url(../images/games-backgorund.jpg) no-repeat !important;
  height: 255px !important; }

.promo-gallery {
  background: #eae8cf url(../images/promo-gallery-background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 10px;
  padding-bottom: 10px; }
  .promo-gallery .inner-elemets {
    padding: 0 2px;
    margin-bottom: 10px;
    height: 280px;
    text-align: center;
    position: relative; }
    .promo-gallery .inner-elemets #books-section .thumbnail {
      border: 0; }
    .promo-gallery .inner-elemets #books-section img {
      margin-left: 0;
      width: 56px;
      height: 64px;
      border: 5px solid white;
      position: relative;
      float: left; }
    .promo-gallery .inner-elemets iframe {
      width: 90%;
      border: 5px solid white;
      position: relative;
      float: left; }
    .promo-gallery .inner-elemets .location-text {
      margin-top: 10px;
      font-family: "Georgia";
      font-size: 12px;
      color: #92907c;
      position: relative;
      float: left; }
      .promo-gallery .inner-elemets .location-text p {
        text-align: left; }
        .promo-gallery .inner-elemets .location-text p span {
          text-transform: uppercase; }
        .promo-gallery .inner-elemets .location-text p time {
          color: #442917; }
    .promo-gallery .inner-elemets .inner-elemets-title {
      text-align: left;
      font-size: 1.05em;
      padding-left: 2px;
      color: #d2ceaf;
      text-transform: uppercase; }
    .promo-gallery .inner-elemets .thumbnail {
      margin-bottom: 0;
      background-color: inherit; }
      .promo-gallery .inner-elemets .thumbnail .game-info-aside {
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        width: 100%; }
  .promo-gallery .middle {
    margin-top: 15px;
    margin-bottom: 15px; }

.row {
  margin-left: 0;
  margin-right: 0; }

.panel-group {
  width: 60%;
  margin: 10px auto 20px; }
  .panel-group .panel-collapse {
    position: relative;
    text-align: center;
    border: 0; }
    .panel-group .panel-collapse span,
    .panel-group .panel-collapse input {
      border-radius: 0; }
    .panel-group .panel-collapse input {
      border-right: 0; }
    .panel-group .panel-collapse button {
      position: relative;
      border-radius: 10px; }
  .panel-group .panel-heading {
    text-align: center;
    border-radius: 10px; }

#btn-add-game {
  background-color: #6BBE92;
  border: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 50%;
  margin: 5px auto; }

.checkbox-inline input {
  vertical-align: middle; }

.genres {
  border-bottom: 1px solid #ccc; }

.game-info .thumbnail {
  background-color: inherit; }
.game-info .description {
  height: 50px;
  overflow: hidden; }
.game-info img {
  width: 130px;
  height: 150px; }
.game-info ul {
  list-style-type: none;
  padding-left: 0; }

.gallery-inner-element {
  height: 70px;
  padding: 0; }
  .gallery-inner-element .thumbnail {
    padding: 0;
    height: 70px;
    border: 0;
    background-color: inherit; }
    .gallery-inner-element .thumbnail img {
      margin-left: 0;
      width: 56px;
      height: 64px;
      border: 5px solid white; }
    .gallery-inner-element .thumbnail a {
      padding: 0;
      margin-right: 15px;
      width: 56px;
      height: 64px;
      position: relative;
      float: left; }
    .gallery-inner-element .thumbnail .game-info-aside {
      width: 90%; }
      .gallery-inner-element .thumbnail .game-info-aside h5 {
        margin: 0;
        font-size: 12px;
        color: #442917; }
    .gallery-inner-element .thumbnail .price-tag {
      display: block;
      background: url(../images/price-tag.png) no-repeat bottom left;
      padding-left: 8px;
      position: absolute;
      top: 12px;
      left: -8px;
      font-size: 10px; }
      .gallery-inner-element .thumbnail .price-tag span {
        display: block;
        margin-left: -6px;
        padding: 5px 5px 0 0;
        height: 31px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-style: normal; }

.platform {
  font-family: "Georgia";
  font-size: 12px;
  color: #92907c;
  font-style: italic; }

.carousel-indicators {
  background: url(../images/promo-gallery-background.png) no-repeat center;
  height: 35px;
  position: relative;
  bottom: 30px;
  padding-top: 10px;
  left: 0;
  margin: auto; }
  .carousel-indicators li {
    background-color: #c1bfa6;
    border: 0; }
  .carousel-indicators .active {
    background-color: #675944;
    border-color: #c1bfa6; }

.carousel-inner {
  bottom: 30px; }

.rating {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 1.3em;
  unicode-bidi: bidi-override;
  direction: rtl; }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute; }

@media (min-width: 480px) and (max-width: 767px) {
  #footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .promo-gallery, .gallery {
    padding-right: 8%;
    padding-left: 8%; }

  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 250px; }

  body {
    font-size: 10px; }

  #nav {
    margin-left: 8%; }
    #nav ul {
      float: left !important; }

  #carousel {
    height: 350px; }
    #carousel .btn {
      font-size: 12px;
      width: 175px; } }
@media (min-width: 390px) and (max-width: 479px) {
  #footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .promo-gallery, .gallery {
    padding-right: 4%;
    padding-left: 4%; }

  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 225px; }

  body {
    font-size: 8px; }

  .my-nav {
    font-size: 10px; }

  #nav {
    margin-left: 4%; }
    #nav .navbar-toggle {
      right: 0; }
    #nav ul {
      float: left !important; }

  .carousel-indicators li,
  .carousel-indicators .active {
    margin: 0;
    width: 10px;
    height: 10px; }

  #carousel {
    height: 280px; }
    #carousel .btn {
      font-size: 10px;
      width: 100px; } }
@media (min-width: 320px) and (max-width: 389px) {
  #footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .promo-gallery, .gallery {
    padding-right: 4%;
    padding-left: 4%; }

  body {
    font-size: 8px; }

  #logo {
    width: 120px; }

  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 175px; }
    .navbar-collapse .navbar-nav a {
      padding-top: 2.5px;
      padding-bottom: 2.5px; }

  .my-nav {
    font-size: 10px; }

  #nav {
    margin-left: 4%; }
    #nav .navbar-toggle {
      right: 0; }
    #nav ul {
      float: left !important; }

  .carousel-indicators li,
  .carousel-indicators .active {
    margin: 0;
    width: 8px;
    height: 8px; }

  #carousel {
    height: 250px; }
    #carousel img {
      width: 160px; }
    #carousel p {
      display: none; }
    #carousel .btn {
      font-size: 10px;
      width: 80px; } }
@media (max-width: 319px) {
  #footer, #header, #nav .container-fluid, #site-slogan, #myCarousel h3, .promo-gallery, .gallery {
    padding-right: 4%;
    padding-left: 4%; }

  body {
    font-size: 8px; }

  #logo {
    display: none; }

  .navbar-collapse {
    position: relative;
    top: 50px;
    height: 175px; }
    .navbar-collapse .navbar-nav a {
      padding-top: 2.5px;
      padding-bottom: 2.5px; }

  .my-nav {
    font-size: 10px; }

  #nav {
    margin-left: 4%; }
    #nav .navbar-toggle {
      right: 0;
      background: url(../images/logo-small.png) no-repeat center !important;
      width: 50px;
      height: 30px;
      right: 20px; }
      #nav .navbar-toggle .icon-bar {
        display: none; }
    #nav ul {
      float: left !important; }

  .carousel-indicators li,
  .carousel-indicators .active {
    margin: 0;
    width: 8px;
    height: 8px; }

  #carousel {
    height: 250px; }
    #carousel img {
      width: 160px; }
    #carousel p {
      display: none; }
    #carousel .btn {
      font-size: 10px;
      width: 80px; } }

/*# sourceMappingURL=site.css.map */
