//@import 'variables'
$brown: rgb(69, 41, 23);
$light: rgb(153, 100, 67);
$light-gray: rgb(153, 146, 129);
$dark-gray: rgb(140, 134, 118);
$more-dark: rgb(33, 57, 69);
$home-background: rgb(234, 232, 207);
$hovered-color-text: rgb(238, 238, 186);
$btn-green: rgb (120, 162, 91);
$first-layer-bgcolor: rgb (78, 67, 22);
$second-layer-bgcolor: rgb(124, 99, 95);
$slogan-text-color: rgb(101, 78, 45);
$custom-font-family: "Myriad Pro";
$font-size-original: 14px;
$font-size-up: 1.7em;
%reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
%padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
%padding-right-and-left {
  padding-right: 16%;
  padding-left: 16%;
}
%margin-right-and-left {
  padding-right: 16%;
  padding-left: 16%;
}
body {
  @extend %reset;
  font-size: $font-size-original;
  font-family: $custom-font-family, sans-serif;
}
#footer {
  @extend %padding-right-and-left;
  margin-top: 0.5em;
  color: #fff;
  background: $light-gray;
  a {
    color: inherit;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .my-nav {
    li + li:before {
      content: "|";
      margin: 0 3px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .copy {
    margin: 0;
    text-align: right;
  }
}
#header {
  @extend %padding;
  @extend %padding-right-and-left;
  color: #ffffff;
  .pull-right {
    padding-right: 0;
  }
  .user-nav {
    text-align: right;
  }
  .my-nav {
    display: inline-block;
    li + li {
      margin-left: 10px;
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    li {
      &:hover {
        border-radius: 3px;
        background-color: rgba($light-gray, .6);
      }
    }
    .badge {
      opacity: 0.8;
    }
  }
}
#logo {
  margin: 0;
  font: inherit;
  font-size: $font-size-up;
  text-transform: uppercase;
  //
  &:hover {
    text-decoration: none;
  }
  &:before {
    //content: url(../images/logo.png);
    //background: url(../images/logo.png) no-repeat;
    width: $font-size-up;
    height: $font-size-up;
    position: relative;
  }
}
#nav {
  color: white;
  background: $light-gray;
  margin-left: 16%;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  ul {
    background: $light-gray;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  li,
  .navbar-brand {
    text-transform: uppercase;
    &:hover {
      font-style: italic;
      color: $hovered-color-text;
      background-color: $dark-gray;
    }
  }
  p {
    &:hover {
      font-style: bold;
      color: inherit;
    }
  }
  .form-group {
    position: relative;
    > .glyphicon {
      position: absolute;
      right: 0.5em;
      top: 0.75em;
    }
  }
  .container-fluid {
    @extend %padding-right-and-left;
    padding-left: 20px;
  }
}
#site-slogan {
  color: white;
  @extend %margin-right-and-left;
  h3,
  p {
    width: 60%;
  }
  h3 {
    font-size: $font-size-up;
    text-transform: uppercase;
  }
  p {
    font-size: 1.2em;
  }
  a {
    width: 250px;
    border-radius: 20px;
    background-color: $btn-green !important;
  }
}
#carousel {
  background: $brown;
  height: 460px;
}
#myCarousel {
  height: 125px;
  background: rgb(246, 246, 239);
  a {
    color: black;
    background: rgba(246, 246, 239, 0);
  }
  h3 {
    @extend %margin-right-and-left;
    text-align: center;
    font-size: $font-size-up;
    color: $slogan-text-color;
  }
  .carousel-indicators {
    position: relative;
  }
}
.my-nav {
  @extend %reset;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
}
.promo-gallery {
  @extend %padding-right-and-left;
  background: $home-background url(../images/promo-gallery-background.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  .inner-elemets {
    padding: 0;
    margin-bottom: 10px;
    width: 250px;
    height: 280px;
    text-align: center;
    position: relative;
    border: 1px solid red;
    background-size: cover;
    background-clip: content-box;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.panel-group {
  width: 60%;
  margin: 10px auto 20px;
  .panel-collapse {
    position: relative;
    text-align: center;
    border: 0;
    span,
    input {
      border-radius: 0;
    }
    input {
      border-right: 0;
    }
    button {
      position: relative;
      border-radius: 10px;
    }
  }
  .panel-heading {
    text-align: center;
    border-radius: 10px;
  }
}
#btn-add-game {
  background-color: #6BBE92;
  border: 0;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 50%;
  margin: 5px auto;
}
.checkbox-inline {
  input {
    vertical-align: middle;
  }
}
.genres {
  border-bottom: 1px solid #ccc;
}
.gallery {
  .thumbnail {}
  .description {
    height: 50px;
    overflow: hidden;
  }
  img {
    width: 130px;
    height: 150px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  %padding-right-and-left {
    padding-right: 8%;
    padding-left: 8%;
  }
  %margin-right-and-left {
    padding-right: 8%;
    padding-left: 8%;
  }
  body {
    font-size: 10px;
  }
  #nav {
    margin-left: 8%;

    #logo {
      font-size: 14px;
    }
    ul {
      float: left !important;
    }
  }
  #carousel {
    height: 350px;
    .btn {
      font-size: 12px;
      width: 175px;
    }
  }
}
@media (min-width: 420px) and (max-width: 479px) {
  %padding-right-and-left {
    padding-right: 4%;
    padding-left: 4%;
  }
  %margin-right-and-left {
    padding-right: 4%;
    padding-left: 4%;
  }
  body {
    font-size: 8px;
  }
  #nav {
    margin-left: 4%;
    ul {
      float: left !important;
    }
  }
  #carousel {
    height: 280px;
    .btn {
      font-size: 10px;
      width: 100px;
    }
  }
}
