<div id="carousel" class="row">
        <div class="slide col-md-12">This will be a sliding images Or smth</div>
</div>
<div id="middle" class="row promo-gallery">
		<section class="col-md-4 inner-elemets">
			<div id="games-section">

			</div>
		</section>
		<section class="col-md-4 inner-elemets">
      <div id="movies-section">

      </div>
		</section>
		<section class="col-md-4 inner-elemets">
      <div id="books-section">
        
      </div>
		</section>
	</div>
