<ul class="my-nav">
	{{#if this}}
		<li>Hello,
			<strong>{{this}}</strong>
		</li>
		<li><a id="btn-logout" href="#/">Logout</a></li>
	{{else}}
		<li>
			<i class="glyphicon glyphicon-lock"></i>
			<a href="#/login">Login</a>
		</li>
		<li>
			<i class="glyphicon glyphicon-user"></i>
			<a href="#/register">Register</a></li>
	{{/if}}
</ul>
